@import url('styles.css?v=1.0.3');

/*
*   TAB NAVIGATION
*/
.st-dashboard-wrap {
    margin: -12px -12px;
    padding: 0 0 12px;
}
.st-dashboard-tabnav {
    display: flex;
    margin: 0;
    padding: 12px 0;
    width: 100%;
    background-color: var(--st-light);
}
.st-dashboard-tabnav li {
    margin: 0;
}
.st-dashboard-tablink {
    padding: 12px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    color: var(--st-primary); 
}
.st-dashboard-tablink.is-active {
    color: var(--st-dark); 
    border-bottom-color: var(--st-dark);
}
.st-dashboard-tablink:hover {
    color: var(--st-dark);
}
.st-dashboard-tablink:focus {
    color: var(--st-tertiary);
    outline: none;
    box-shadow: none;
}
.st-dashboard-tabcontent-wrap {
    padding: 0 0 12px;
}
.st-dashboard-tabcontent {
    display: none;
}
.st-dashboard-tabcontent.is-active {
    display: block;
}

.st-dashboard-table th {
    border-bottom: 1px solid var(--st-light);
}