/* ---------- */
/* VARIABLES */
/* -------- */

:root {
    --st-primary: #c26148;
    --st-secondary: #db7358;
    --st-tertiary: #e7ded0;
    --st-dark: #000;
    --st-light: #f4f4f4;
    --st-black: #000000;
    --st-white: #ffffff;
}



/* ---------- */
/* UTILITIES */
/* -------- */

.st-text-center {
    text-align: center !important;
}



/* -------- */
/* BUTTONS */
/* ------ */
.st-btn {
    display: inline-flex;
    padding: 5px 10px;
    border: 1px solid var(--st-dark);
    margin: 0 5px;
    text-decoration: none;
    letter-spacing: 0.025rem;
    color: var(--st-primary);
    font-size: 14px;
    font-weight: bold;
}
.st-btn.st-btn-primary {
    border-color: var(--st-secondary);
    background: var(--st-primary);
    color: var(--st-tertiary);
}


/* ------- */
/* TABLES */
/* ------*/
.st-table {
    width: 100%;
    border-collapse: collapse;
}
.st-table th {
    padding: 4px 0;
    text-align: left;
    color: var(--st-dark);
    font-weight: 400;
}
.st-table td {
    padding: 4px 0;
}
.st-table thead tr {
    background: var(--st-tertiary);
}
.st-table tr:nth-child(even){
    background: var(--st-light);
}
.st-table th:first-child,
.st-table td:first-child {
    width: 40px;
}
.st-table th:last-child,
.st-table td:last-child,
.st-searches-cell {
    width: 100px;
}

/* ------------------- */
/* NO RESULTS MESSAGE */
/* ----------------- */
.st-no-results {
    margin: 24px 0;
    padding: 24px;
    border: 1px solid var(--st-secondary);
    background: var(--st-tertiary);
    color: var(--st-secondary);
}