/* ---------- */
/* VARIABLES */
/* -------- */

:root {
    --seto-primary: #c26148;
    --seto-secondary: #db7358;
    --seto-tertiary: #e7ded0;
    --seto-dark: #000;
    --seto-light: #f4f4f4;
    --seto-black: #000000;
    --seto-white: #ffffff;
}



/* ---------- */
/* UTILITIES */
/* -------- */

.seto-text-center {
    text-align: center !important;
}



/* -------- */
/* BUTTONS */
/* ------ */
.seto-btn {
    display: inline-flex;
    padding: 5px 10px;
    border: 1px solid var(--seto-primary);
    margin: 0 5px;
    text-decoration: none;
    letter-spacing: 0.025rem;
    color: var(--seto-primary);
    font-size: 14px;
    font-weight: bold;
}
.seto-btn:hover {
    border-color: var(--seto-tertiary);
    background: var(--seto-primary);
    color: var(--seto-tertiary);
}
.seto-btn.seto-btn-primary {
    border-color: var(--seto-primary);
    background: var(--seto-secondary);
    color: var(--seto-tertiary);
}
.seto-btn.seto-btn-primary:hover {
    border-color: var(--seto-secondary);
    background: var(--seto-primary);
    color: var(--seto-white);
}


/* ------- */
/* TABLES */
/* ------*/
.seto-table {
    width: 100%;
    border-collapse: collapse;
}
.seto-table th {
    padding: 4px 0;
    text-align: left;
    color: var(--seto-dark);
    font-weight: 400;
}
.seto-table td {
    padding: 4px 0;
}
.seto-table thead tr {
    background: var(--seto-tertiary);
}
.seto-table tr:nth-child(even){
    background: var(--seto-light);
}
.seto-table th:first-child,
.seto-table td:first-child {
    width: 40px;
}
.seto-table th:last-child,
.seto-table td:last-child,
.seto-searches-cell {
    width: 100px;
}

/* ------------------- */
/* NO RESULTS MESSAGE */
/* ----------------- */
.seto-no-results {
    margin: 24px 0;
    padding: 24px;
    border: 1px solid var(--seto-secondary);
    background: var(--seto-tertiary);
    color: var(--seto-secondary);
}