@import url('styles.css?v=1.0.5');

/*
*   Header
*/
.seto-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: -10px -20px 40px;
    background: var(--seto-white);
}
.seto-header .wp-heading-inline {
    padding: 20px 0;
    margin-right: 40px;
}
.seto-header-navitem {
    display: inline-flex;
    padding: 20px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-size: .85rem;
    color: var(--seto-primary);
    text-decoration: none;
}
.seto-header-navitem.is-active {
    color: var(--seto-dark);
    border-bottom-color: var(--seto-dark);
}
@media (max-width:1200px)  {
    .seto-header .seto-btn {
        display: none;
    }
}
@media (max-width:960px)  {
    .seto-header .wp-heading-inline {
        display: none !important;
    }
}
@media (max-width:768px)  {
    .seto-header .seto-header-navitem {
        padding: 10px;
    }
}

/*
*   Insights
*/
.seto-stats-wrap {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    margin: 0 0 2rem;
}

.seto-stats {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background: var(--seto-white);
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    overflow: hidden;
}

.seto-stats::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 -6px 24px 18px rgba(255,255,255,1);
}

.seto-stats__bigger {
    grid-row: 1 / 3;
    grid-column: 3 / 3;    
}

@media (max-width:1400px)  {
    .seto-stats-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
    .seto-stats__bigger {
        grid-row: 3 / 3;
        grid-column: 1 / 2;    
    }
}

@media (max-width:1024px)  {
    .seto-stats-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .seto-stats__bigger {
        grid-row: 5 / 5;
        grid-column: 1 / 1;    
    }
}

.seto-insights-heading-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.seto-insights-heading {
    border-bottom: 1px solid var(--seto-light);
    margin: 0;
    font-weight: bold;
}

.seto-insights-table-wrap {
    height: 100%;
    border-top: 1px solid var(--seto-light);
    padding-bottom: 2rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--seto-secondary);
}
.seto-insights-table-wrap::-webkit-scrollbar {
    width: .2rem;
}
.seto-insights-table-wrap::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.seto-insights-table-wrap::-webkit-scrollbar-thumb {
    background: var(--seto-secondary);
}
.seto-insights-table th:first-child,
.seto-insights-table td:first-child {
    padding-left: 1.5rem;
}